demo/pipelines/Doc Search for CSIT5210.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Doc Search for CSIT5210
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.32@20a5454088fa017b72490e1cbaeebff21094d11b13e41197591734d1c08cdbb5
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: siyu/text_embedding_vector_client:0.0.3@e90a5be1b6a020ad9d56fcdac59d685f861f8d3bb00a6cd8d5bc7a82bd8ab2da
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: zeroz-lab/milvus:0.1.4@ae1e31b6454d7f8ad8e7a612aab0d7b95f3aa8be59cb1465c38ed80a5cb4bf7d
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1774023175483-source-1774023188935-target
      source: '1774023175483'
      sourceHandle: source
      target: '1774023188935'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: template-transform
      id: 1774023188935-source-1774023246975-target
      source: '1774023188935'
      sourceHandle: source
      target: '1774023246975'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: tool
      id: 1774023246975-source-1774023308903-target
      source: '1774023246975'
      sourceHandle: source
      target: '1774023308903'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: llm
      id: 1774024703325-source-llm-target
      source: '1774024703325'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: template-transform
      id: 1774023308903-source-1774024996204-target
      source: '1774023308903'
      sourceHandle: source
      target: '1774024996204'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: if-else
      id: 1774024996204-source-1774024932296-target
      source: '1774024996204'
      sourceHandle: source
      target: '1774024932296'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1774024932296-true-1774024703325-target
      source: '1774024932296'
      sourceHandle: 'true'
      target: '1774024703325'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774026174063-source-answer-target
      source: '1774026174063'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774024932296-false-1774026174063-target
      source: '1774024932296'
      sourceHandle: 'false'
      target: '1774026174063'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 73
      id: '1774023175483'
      position:
        x: -12.828445101715431
        y: 97.13619197265561
      positionAbsolute:
        x: -12.828445101715431
        y: 97.13619197265561
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774024703325'
          - output
        memory:
          query_prompt_template: '用户问题为：{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 4a4e047d-1ba6-4e37-bfb8-bd358a792ebc
          role: system
          text: '你是一个校园问答助手，学生会问你学校相关的问题，你将要通过以下内容为基础回答：

            {{#1774024703325.output#}}'
        selected: false
        title: 找到文档
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 2230.0000000000005
        y: 282
      positionAbsolute:
        x: 2230.0000000000005
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}} {{#1774026174063.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 121
      id: answer
      position:
        x: 2528
        y: 282
      positionAbsolute:
        x: 2528
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Selector Embedding Model
            ja_JP: Selector Embedding Model
            pt_BR: Selector Embedding Model
            zh_Hans: 选择嵌入模型
          label:
            en_US: Selector Embedding Model
            ja_JP: Selector Embedding Model
            pt_BR: Selector Embedding Model
            zh_Hans: 选择嵌入模型
          llm_description: ''
          max: null
          min: null
          name: embedding_model_config
          options: []
          placeholder: null
          precision: null
          required: true
          scope: text-embedding
          template: null
          type: model-selector
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: INPUT TEXT
            ja_JP: INPUT TEXT
            pt_BR: INPUT TEXT
            zh_Hans: '支持两种输入格式：  1. 普通字符串，例如: 大家好我是小小    2. JSON 字符串数组，例如: ["大家好我是小小","今天很开心"]'
          label:
            en_US: INPUT TEXT
            ja_JP: INPUT TEXT
            pt_BR: INPUT TEXT
            zh_Hans: 输入文本
          llm_description: ''
          max: null
          min: null
          name: input_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'default: 10 (Optional)'
            ja_JP: 'default: 10 (Optional)'
            pt_BR: 'default: 10 (Optional)'
            zh_Hans: 默认：10 (可选)
          label:
            en_US: BATCH SIZE (Optional)
            ja_JP: BATCH SIZE (Optional)
            pt_BR: BATCH SIZE (Optional)
            zh_Hans: BATCH SIZE (可选)
          llm_description: ''
          max: null
          min: null
          name: batch_size
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        params:
          batch_size: ''
          embedding_model_config: ''
          input_text: ''
        plugin_id: siyu/text_embedding_vector_client
        plugin_unique_identifier: siyu/text_embedding_vector_client:0.0.3@e90a5be1b6a020ad9d56fcdac59d685f861f8d3bb00a6cd8d5bc7a82bd8ab2da
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=d5e7f361-c648-4065-86ea-4aaf39dc7364&filename=be67c39da11a50556120bcea69db3c213b74bca33b11f79f486ed577f99063aa.svg
        provider_id: siyu/text_embedding_vector_client/provider_embedding_client
        provider_name: siyu/text_embedding_vector_client/provider_embedding_client
        provider_type: builtin
        selected: false
        title: TEXT_2_VECTOR
        tool_configurations:
          embedding_model_config:
            type: constant
            value:
              model: text-embedding-v4
              model_type: text-embedding
              provider: langgenius/tongyi/tongyi
        tool_description: TEXT_2_VECTOR
        tool_label: TEXT_2_VECTOR
        tool_name: text_2_vector
        tool_node_version: '2'
        tool_parameters:
          batch_size:
            type: constant
            value: null
          input_text:
            type: mixed
            value: '{{#sys.query#}}'
        type: tool
      height: 88
      id: '1774023188935'
      position:
        x: 293
        y: 92.99999999999996
      positionAbsolute:
        x: 293
        y: 92.99999999999996
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: '{{ emb_json[0].vector[0] }}'
        title: 提取向量
        type: template-transform
        variables:
        - value_selector:
          - '1774023188935'
          - json
          value_type: array[object]
          variable: emb_json
      height: 52
      id: '1774023246975'
      position:
        x: 582.2000000000002
        y: 92.99999999999996
      positionAbsolute:
        x: 582.2000000000002
        y: 92.99999999999996
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the collection to search in
            ja_JP: The name of the collection to search in
            pt_BR: O nome da coleção para pesquisar
            zh_Hans: 要搜索的集合名称
          label:
            en_US: Collection Name
            ja_JP: Collection Name
            pt_BR: Nome da Coleção
            zh_Hans: 集合名称
          llm_description: The name of the collection to perform vector search in
          max: null
          min: null
          name: collection_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The query vector as JSON array (e.g., [0.1, 0.2, 0.3]). Must be
              precomputed by the caller.
            ja_JP: The query vector as JSON array (e.g., [0.1, 0.2, 0.3]). Must be
              precomputed by the caller.
            pt_BR: 'O vetor de consulta como array JSON (ex.: [0.1, 0.2, 0.3]). Deve
              ser pré-computado pelo chamador.'
            zh_Hans: 查询向量，JSON 数组格式（例如：[0.1, 0.2, 0.3]）。必须由调用方预先计算。
          label:
            en_US: Query Vector
            ja_JP: Query Vector
            pt_BR: Vetor de Consulta
            zh_Hans: 查询向量
          llm_description: The query vector as a JSON array of numbers for similarity
            search. Precompute it on the caller side.
          max: null
          min: null
          name: query_vector
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 10
          form: llm
          human_description:
            en_US: Maximum number of results to return (1-1000)
            ja_JP: Maximum number of results to return (1-1000)
            pt_BR: Número máximo de resultados a retornar (1-1000)
            zh_Hans: 返回的最大结果数量（1-1000）
          label:
            en_US: Result Limit
            ja_JP: Result Limit
            pt_BR: Limite de Resultados
            zh_Hans: 结果限制
          llm_description: 'Maximum number of search results to return (1-1000, default:
            10)'
          max: null
          min: null
          name: limit
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Comma-separated list of fields to return (e.g., 'field1,field2')
            ja_JP: Comma-separated list of fields to return (e.g., 'field1,field2')
            pt_BR: 'Lista de campos separados por vírgula para retornar (ex: ''field1,field2'')'
            zh_Hans: 要返回的字段列表，用逗号分隔（例如：'field1,field2'）
          label:
            en_US: Output Fields
            ja_JP: Output Fields
            pt_BR: Campos de Saída
            zh_Hans: 输出字段
          llm_description: Comma-separated list of fields to include in search results
          max: null
          min: null
          name: output_fields
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            ja_JP: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            pt_BR: 'Expressão de filtro para campos escalares (ex: ''age > 18 and
              status == "active"'')'
            zh_Hans: 标量字段的过滤表达式（例如：'age > 18 and status == "active"'）
          label:
            en_US: Filter Expression
            ja_JP: Filter Expression
            pt_BR: Expressão de Filtro
            zh_Hans: 过滤表达式
          llm_description: Boolean expression for filtering results based on scalar
            fields
          max: null
          min: null
          name: filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: vector
          form: llm
          human_description:
            en_US: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            ja_JP: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            pt_BR: O nome do campo vetorial para pesquisar. O padrão é 'vector' se
              não for fornecido.
            zh_Hans: 要进行搜索的向量字段的名称。如果未提供，则默认为 'vector'。
          label:
            en_US: Vector Field Name
            ja_JP: Vector Field Name
            pt_BR: Nome do Campo Vetorial
            zh_Hans: 向量字段名称
          llm_description: The name of the vector field for similarity search. Defaults
            to 'vector' if not specified.
          max: null
          min: null
          name: anns_field
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Distance metric type for similarity calculation
            ja_JP: Distance metric type for similarity calculation
            pt_BR: Tipo de métrica de distância para cálculo de similaridade
            zh_Hans: 用于相似度计算的距离度量类型
          label:
            en_US: Metric Type
            ja_JP: Metric Type
            pt_BR: Tipo de Métrica
            zh_Hans: 距离度量类型
          llm_description: 'Distance metric type: COSINE, L2, or IP'
          max: null
          min: null
          name: metric_type
          options:
          - icon: ''
            label:
              en_US: Cosine Similarity
              ja_JP: Cosine Similarity
              pt_BR: Similaridade Cosseno
              zh_Hans: 余弦相似度
            value: COSINE
          - icon: ''
            label:
              en_US: Euclidean Distance
              ja_JP: Euclidean Distance
              pt_BR: Distância Euclidiana
              zh_Hans: 欧几里得距离
            value: L2
          - icon: ''
            label:
              en_US: Inner Product
              ja_JP: Inner Product
              pt_BR: Produto Interno
              zh_Hans: 内积
            value: IP
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: form
          human_description:
            en_US: Search precision level (1-5, higher means more accurate but slower)
            ja_JP: Search precision level (1-5, higher means more accurate but slower)
            pt_BR: Nível de precisão da busca (1-5, maior significa mais preciso mas
              mais lento)
            zh_Hans: 搜索精度级别（1-5，越高越准确但越慢）
          label:
            en_US: Search Level
            ja_JP: Search Level
            pt_BR: Nível de Busca
            zh_Hans: 搜索级别
          llm_description: Search precision level from 1 to 5 (higher values provide
            better recall but slower performance)
          max: null
          min: null
          name: level
          options:
          - icon: ''
            label:
              en_US: Level 1 (Fastest)
              ja_JP: Level 1 (Fastest)
              pt_BR: Nível 1 (Mais Rápido)
              zh_Hans: 级别1（最快）
            value: '1'
          - icon: ''
            label:
              en_US: Level 2
              ja_JP: Level 2
              pt_BR: Nível 2
              zh_Hans: 级别2
            value: '2'
          - icon: ''
            label:
              en_US: Level 3
              ja_JP: Level 3
              pt_BR: Nível 3
              zh_Hans: 级别3
            value: '3'
          - icon: ''
            label:
              en_US: Level 4
              ja_JP: Level 4
              pt_BR: Nível 4
              zh_Hans: 级别4
            value: '4'
          - icon: ''
            label:
              en_US: Level 5 (Most Accurate)
              ja_JP: Level 5 (Most Accurate)
              pt_BR: Nível 5 (Mais Preciso)
              zh_Hans: 级别5（最准确）
            value: '5'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Minimum similarity threshold for range search
            ja_JP: Minimum similarity threshold for range search
            pt_BR: Limite mínimo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最小相似度阈值
          label:
            en_US: Search Radius
            ja_JP: Search Radius
            pt_BR: Raio de Busca
            zh_Hans: 搜索半径
          llm_description: Minimum similarity threshold for range search (used with
            range_filter)
          max: null
          min: null
          name: radius
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum similarity threshold for range search
            ja_JP: Maximum similarity threshold for range search
            pt_BR: Limite máximo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最大相似度阈值
          label:
            en_US: Range Filter
            ja_JP: Range Filter
            pt_BR: Filtro de Intervalo
            zh_Hans: 范围过滤器
          llm_description: Maximum similarity threshold for range search (used with
            radius)
          max: null
          min: null
          name: range_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            ja_JP: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            pt_BR: 'Parâmetros de busca adicionais como JSON (ex: ''{"nprobe": 16}'')'
            zh_Hans: '额外的搜索参数，JSON格式（例如：''{"nprobe": 16}''）'
          label:
            en_US: Advanced Search Parameters
            ja_JP: Advanced Search Parameters
            pt_BR: Parâmetros Avançados de Busca
            zh_Hans: 高级搜索参数
          llm_description: Additional search parameters as JSON object for fine-tuning
            search behavior
          max: null
          min: null
          name: search_params
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          anns_field: ''
          collection_name: ''
          filter: ''
          level: ''
          limit: ''
          metric_type: ''
          output_fields: ''
          query_vector: ''
          radius: ''
          range_filter: ''
          search_params: ''
        plugin_id: zeroz-lab/milvus
        plugin_unique_identifier: zeroz-lab/milvus:0.1.4@ae1e31b6454d7f8ad8e7a612aab0d7b95f3aa8be59cb1465c38ed80a5cb4bf7d
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=d5e7f361-c648-4065-86ea-4aaf39dc7364&filename=4745a24ffa8ec2b666e31e822b2135d4af0e5283e9dca6e04ad3b6666d9bdb31.svg
        provider_id: zeroz-lab/milvus/milvus
        provider_name: zeroz-lab/milvus/milvus
        provider_type: builtin
        selected: false
        title: Milvus Vector Search
        tool_configurations:
          level:
            type: constant
            value: 1
          metric_type:
            type: constant
            value: COSINE
        tool_description: Perform vector similarity search in Milvus collections
        tool_label: Milvus Vector Search
        tool_name: milvus_search
        tool_node_version: '2'
        tool_parameters:
          anns_field:
            type: mixed
            value: vector
          collection_name:
            type: mixed
            value: pipelinev2
          filter:
            type: mixed
            value: ''
          limit:
            type: constant
            value: 10
          output_fields:
            type: mixed
            value: text
          query_vector:
            type: mixed
            value: '{{#1774023246975.output#}}'
          radius:
            type: constant
            value: null
          range_filter:
            type: constant
            value: null
          search_params:
            type: mixed
            value: ''
        type: tool
      height: 114
      id: '1774023308903'
      position:
        x: 874.2000000000002
        y: 92.99999999999996
      positionAbsolute:
        x: 874.2000000000002
        y: 92.99999999999996
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "{% for item in arg1[0].results %}\r\n---\r\n【参考信息 {{ loop.index\
          \ }}】\r\n{{ item.text }}\r\n{% endfor %}"
        title: 拼接文档
        type: template-transform
        variables:
        - value_selector:
          - '1774023308903'
          - json
          value_type: array[object]
          variable: arg1
      height: 52
      id: '1774024703325'
      position:
        x: 1829.0000000000005
        y: -165.00000000000006
      positionAbsolute:
        x: 1829.0000000000005
        y: -165.00000000000006
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not contains
            id: 87e58922-9dee-4920-a7ff-f623eda96601
            value: EOF
            varType: string
            variable_selector:
            - '1774024996204'
            - output
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1774024932296'
      position:
        x: 1515
        y: -194.00000000000003
      positionAbsolute:
        x: 1515
        y: -194.00000000000003
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: '{% if arg1[0].result_count | default(0) | int > 0 %}1{% else %}EOF{%
          endif %}'
        title: 检查
        type: template-transform
        variables:
        - value_selector:
          - '1774023308903'
          - json
          value_type: array[object]
          variable: arg1
      height: 52
      id: '1774024996204'
      position:
        x: 1197
        y: -194.00000000000003
      positionAbsolute:
        x: 1197
        y: -194.00000000000003
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 32d3b9cd-312d-45a5-9236-f5434458fd20
          role: system
          text: 你是一个香港科技大学的校园问答助手，学生会问你问题。现在系统没有找到相关资料，请你酌情将此情况告知用户。
        - id: 8b4f47c2-8038-4c42-8963-be3706651538
          role: user
          text: '用户query如下：{{#sys.query#}} '
        selected: false
        title: 默认
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774026174063'
      position:
        x: 2219.939895342879
        y: 445.228822720381
      positionAbsolute:
        x: 2219.939895342879
        y: 445.228822720381
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -660.2737410045993
      y: 261.2018063351712
      zoom: 0.5896782961306105
  rag_pipeline_variables: []
